.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.subtitle {
	color: #666666;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

div .CardGame {
	max-width: 953px;
}

a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

nav .brand-logo {
	position: inherit;
	color: #fff;
	display: inline-block;
	font-size: 2.1rem;
	padding: 0 0 0 22px;
}

nav .brand-logo img {
	height: 57px;
	padding: 7px 0 0 0;
}

.jumbotron {
	background-image: url('/images/AM-ArtMemory-logo-name2.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 0.3rem;
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	width: auto;
	height: 138px;
}

::-webkit-scrollbar {
	display: none;
}
